.header {
    color: $basicColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
}

.header .container {
    display: flex;
    flex-direction: column;
    gap: 112px;
    align-items: center;
}

.header__button__list {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__button__item {}

.header__button {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $basicColor;
    background-color: transparent;
    padding: 8px 15px;
}

.sign-up {
    border: 2px solid $basicColor;
    border-radius: 20px;
}

.header__logo {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}